BODY {
	background-color: #6997d3;
}

#rootPanel {
	width: 75em;
	margin: 0 auto;
	padding-top: 1em;
}

.clear {
	clear: both;
}

/* *************
    ProductView
   ************* */
.productView {
	
}

.productView .leftColumn {
	height: 38em;
	padding: 1em;
	border-radius: 0.75em;
	float: left;
	background-color: #05326d;
}

.productView .rightColumn {
	height: 38em;
	padding: 1em;
	border-radius: 0.75em;
	float: right;
	width: 55em;
	background-color: #fff;
}

.productView IMG {
	border-radius: 0.75em;
}

.productView .name {
	float: left;
	font-size: 30px;
	color: #05326d;
}

.productView .rate {
	float: right;
	padding: 0.8em;
	text-align: center;
	background-color: #6997d3;
	color: #fff;
	border-radius: 0.75em;
}

.productView .rateLine DIV {
	display: inline-block;
	white-space: pre;
}

.productView .gwt-DisclosurePanel {
	padding: 0.8em 0;
	width: 100%;
}

.productView .gwt-DisclosurePanel .header {
	background-color: #6997d3;
	border-radius: 0.75em;
}

.productView .gwt-DisclosurePanel .header TD {
	color: #fff;
}

.productView .gwt-DisclosurePanel .content {
	border-left: none;
}

.productView .details DIV>SPAN {
	display: inline-block;
	width: 7em;
}

.productView .details .gwt-Label {
	display: inline;
	font-weight: bold;
}

.productView .comment {
	margin-bottom: 1.6em;
}

.productView .comment .rateLine {
	display: inline-block;
	width: 4em;
	text-align: right;
	color: #555;
}

.productView .author {
	display: inline-block;
	width: 5em;
	font-weight: bold;
}